<%= form_with(model: pin, local: true) do |form| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_area :title, class: "form-control" %>
 

    <%= form.label :image %>
    <%= form.text_area :image, class: "form-control"  %>
  

    <%= form.label :comment %>
    <%= form.text_area :comment, class: "form-control"  %>
  </div>

  
    <%= form.submit class: "btn btn-primary" %>

<% end %>




    